/*------------ MAIN STYLING ------------*/

body {
  font-family: sans-serif;
  padding: 5% 0;
}

h3 {
  margin: 1rem 0 0;
}

hr {
  border: none;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.container {
  padding: 2% 3%;
}

.card {
  box-shadow: 0 0 3px 1px grey;
  padding: 5% 5% 10%;
}

/*------------ INPUT STYLING ------------*/

input[type='text'] {
  margin: 3% 0;
  width: 100%;
  padding: 0.8rem 0 0.8rem 2%;
  border: 1px solid grey;
  border-radius: 3px;
}

input::placeholder {
  opacity: 0.6;
}


/*------------ TASKLIST STYLING ------------*/

.tasks-container ul {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f4f4f4;
  border: 1px solid rgb(212, 212, 212);
  margin: 1% 0;
  padding: 3% 4%;
}

.clear-icon {
  position: absolute;
  right: 5%;
  font-size: 20px;
  color: rgb(233, 110, 110);
}

.ticker {
  margin-right: 2%;
}


/*------------ HEADINGS STYLING ------------*/

.main-heading {
  text-align: center;
}


/*------------ BUTTONS STYLING ------------*/

.task-submit-button {
  padding: 0.6rem 7%;
  border: none;
  border-radius: 3px;
  background-color: rgb(32, 170, 156);
  color: white;
}

.clear-all-button {
  padding: 0.6rem 5.7%;
  border: none;
  border-radius: 3px;
  background-color: rgb(212, 50, 50);
  color: white;
}

/*------------ RESPONSIVE STYLING ------------*/

@media (min-width: 624px) {
  body {
    padding: 2% 20%;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 1% 25%;
  }
}